_site/

.history
*#*#
*.#*
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
*~
checkpoints/
.vscode/
.DS_Store
.cache
.classpath
.ensime
.ensime_cache/
.ensime_lucene
.generated-mima*
.settings
*.index
*.tar
*.ckpt
.history
*.dat
nohup.*
